<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page will hold the Welcome section and About section</p>
    <p>Will also be the OAuth page</p>
    <p>Will redirect to the summary page after log-in/sign-up</p>
  </body>
</html>
