<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/index.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Welcome Page</title>
  </head>

  <body>
    <header>
      <nav>
        <h1>StudySmart</h1>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout"><span class="material-symbols-outlined">logout</span></a>
            <% } else { %>
            <a href="/auth/google"><span class="material-symbols-outlined">login</span></a>
            <% } %>
          </li>
        </ul>
    </header>
    <a href="/summary">Summary page</a>
    <section class="page-text">
      <h2>Welcome! </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>

      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veniam ut
        eos repudiandae tempore doloremque voluptatem neque impedit voluptas,
        iusto ipsa vitae corporis nobis quam atque iure molestiae odit
        doloribus.
      </p>
      <p></p>
    </section>
  </body>
</html>
