<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %> <%- include("./partials/header.ejs") %>
  <body>
    <a href="/summary">Summary page</a>
    <a href="/decks/index">Database</a>
    <a href="/users/settings">User Settings</a>
    <h1><%= title %></h1>
    <p>This page will hold the Welcome section and About section</p>
    <p>Will also be the OAuth page</p>
    <p>Will redirect to the summary page after log-in/sign-up</p>
  </body>
</html>
