* {
  box-sizing: border-box;
  margin: 0px;
}

header {
  display: flex;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background-color: rgb(216, 216, 248);

}
body {

  border: 3px solid orange;
}
.sidebar {
  border: 3px solid black;
  
}
ul { 
  padding: 0;
  list-style-type: none;
}
ul > li > ul > li { 
  padding-left: 10px;
}

.display-container {
  display: flex;
  width: 100vw;
  border: 3px solid gold;
}

.preview-container {
  border: 3px solid pink;
  text-align: center;
}

.fc-header{ 
  border-bottom: 1px solid black;
}

.front { 
  border: 3px solid red;
}
.back { 
  border: 3px solid blue;
}

