* {
  box-sizing: border-box;
  margin: 0px;
}
body { 
    background-color: rgb(216, 216, 248);
}
header {
  display: flex;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    rgb(152, 152, 246) 50%,
    rgb(222, 221, 255) 50%
  );
}
.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.front-container {

  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
}
.back-container {

  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255);
}

.reveal {
  display: flex;
}

.post-reveal {
  display: flex;
  flex-direction: row;
}
button {
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
}

