* {
  box-sizing: border-box;
  margin: 0px;
}
body { 
    background-color: rgb(216, 216, 248);
}
header {
  display: flex;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    rgb(152, 152, 246) 50%,
    rgb(222, 221, 255) 50%
  );
}
/* .show-container {
} */
.front-container {

  margin: 10px 5px;
  padding: 5px;
  height: auto;

  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
}
.back-container {

  margin: 0 5px;
  padding: 5px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
}
.options-container {
  display: flex;
}
/* .reveal::before { 

}
.post-reveal::after {

} */

.reveal {
  display: flex;
  flex-direction: row;
}
.post-reveal {
  display: flex;
  flex-direction: row;
}
button {
  border-radius: 5px;
}
.edit {
  align-self: flex-end;
}
