* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header start */
header {
  display: flex;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    rgb(152, 152, 246) 50%,
    rgb(222, 221, 255) 50%
  );
}
nav > h1 {
  text-align: center;
}
nav > ul > li {
  list-style: none;
}
/* header end */

.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: #b2d6ff;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -25px;
  left: -30px;
  z-index: 1;
}
.features-menu {
  display: none;
}
/* .features-menu li { 
    border-bottom: 1px solid #FFF;
}
.features-menu li:last-of-type { 
    border-bottom: none;
} */
.dropdown {
  position: relative;
}
.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
