* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  background-color: rgb(216, 216, 248);
} */
a {
  text-decoration: none;
}
/* header start */
header {
  display: flex;
}
.page-text {
  margin: 10px;
}
.page-text > p {
  margin-bottom: 10px;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background-color: rgb(216, 216, 248);
}
nav > h1 {
  text-align: center;
}
nav > ul > li {
  list-style: none;
}
/* header end */

/* index page start */
.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: #b2d6ff;
  border-radius: 5px;
  padding-top: 60px;
  position: absolute;
  top: -25px;
  left: -30px;
  z-index: 1;
}

.features-menu {
  display: none;
}

.dropdown {
  position: relative;
}
.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
/* index page end */

/* summary page / database start */

.display-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 5px;
  flex-direction: column;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.database {
  width: 75px;
  height: max-content;
}

table {
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 5px;
  margin-top: 15px;
}
thead > tr > th {
  border-bottom: 1px solid black;
}
th,
td {
  text-align: center;
  padding: 5px 0;
}

button {
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
}

/* summary page / database end */

/* show-deck page start */
.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.front-container {
  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
}
.back-container {
  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
}

.reveal {
  display: flex;
}

.post-reveal {
  display: flex;
  flex-direction: row;
}
/* show-deck page end */

/* new-deck / new-card page start */
.form-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.form-container > form > input {
  padding: 5px;
}
.form-container > form > div {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  padding: 10px;
}
.form-container > form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgb(87, 173, 249);
  background-color: rgba(240, 248, 255);
}
.form-container > form > div > label {
  margin-right: 10px;
}
.form-container > form > div > input {
  padding: 5px;
  width: 70vw;
  height: 50px;
}
.deck-name {
  justify-content: center;
}
/* new-deck page / new-card page end */

/* flashcards page start */
.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.front-container {
  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  border-radius: 10px;
  background-color: rgba(240, 248, 255);
  border: 2px solid rgb(87, 173, 249);
}
.back-container {
  margin: 10px 15px;
  padding: 15px;
  height: auto;
  width: 80vw;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255);
  border: 2px solid rgb(87, 173, 249);
}

.reveal {
  display: flex;
}

.post-reveal {
  display: flex;
  flex-direction: row;
}

/* flashcards page end  */

/* edit card page start */
h2 {
  text-align: center;
  margin-top: 10px;
}
.preview-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.preview-container > form > h3 {
  margin-bottom: 10px;
}
.preview-container > form > .front-container > input,
.preview-container > form > .back-container > input {
  width: 70vw;
  height: 50px;
  border: none;
  padding: 0 5px;
}
.delete-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* edit card page end */

/* edit deck page start */
.edit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.edit-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}
.edit-container > div > form > input {
  width: 70vw;
  height: 50px;
  border: none;
  padding: 0 5px;
  border: 2px solid rgb(87, 173, 249);
  background-color: rgba(240, 248, 255);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.62);
}
/* edit deck page end */

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page-text {
    margin: 50px;
  }
  .page-text > h2 {
    margin-bottom: 10px;
  }
  .show-container {
    align-items: center;
  }
  .display-container {
    display: flex;
    width: 90vw;
    margin: 0 20px;
    align-items: center;
  }
  .options-container {
    justify-content: space-around;
  }
  table {
    width: 70vw;
    text-align: center;
    margin: auto;
  }

  .form-container > form > input {
    padding: 10px;
  }
  table {
    width: 40vw;
  }
  .display-container > button {
    justify-content: center;
    width: 100px;
    padding: 3px;
  }
  .show-container {
    flex-direction: column;
  }
  .front-container,
  .back-container {
    width: 50vw;
  }
  .finished {
    border: 2px solid rgb(87, 173, 249);
    background-color: rgba(240, 248, 255);
    padding: 5px;
    width: 200px;
    justify-content: center;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .page-text {
    margin: 50px;
  }
  .page-text > h2 {
    margin-bottom: 10px;
  }
  .show-container {
    align-items: center;
  }
  .display-container {
    display: flex;
    width: 90vw;
    margin: 0 20px;
    align-items: center;
  }
  .options-container {
    justify-content: space-around;
  }
  table {
    width: 70vw;
    text-align: center;
    margin: auto;
  }

  .form-container > form > input {
    padding: 10px;
  }
  table {
    width: 40vw;
  }
  .display-container > button {
    justify-content: center;
    width: 100px;
    padding: 3px;
  }
  .show-container {
    flex-direction: column;
  }
  .front-container,
  .back-container {
    width: 50vw;
  }
  .finished {
    border: 2px solid rgb(87, 173, 249);
    background-color: rgba(240, 248, 255);
    padding: 5px;
    width: 200px;
    justify-content: center;
  }
}
