* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  display: flex;
}
nav {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    rgb(152, 152, 246) 50%,
    rgb(222, 221, 255) 50%
  );
}
nav > h1 { 
  margin: 0 auto;
}
.display-container {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 5px;
  flex-direction: column;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.database { 
  width: 75px;

  height: max-content;
}

table {
  background-color: lightgray;
  border-radius: 10px;
  /* border-collapse: collapse; */
  margin-top: 15px;
  border: 1px solid black;
}
th { 
  border-bottom: 1px solid black;
}
th,
td {
  text-align: center;
  padding: 5px 0;
  grid-gap: 0;
  
}

button { 
  text-decoration: none;
  width: 70px;
  border-radius: 10px;
}
.show-deck-btns {
/* WHY WONT U CENTER */
  justify-content: center;
}