<%- include("../partials/head.ejs") %>

<p>This is the summary page</p>

<p>OAUTH: will have a link to user settings and logout in nav bar</p>

<p>
  POST: will have button to create new deck or to link index page of database
</p>
<a href="decks/new-deck"><button>Create Deck</button></a>
<a href="/decks/index">Database</a>

<p>RENDER: will render view of decks which links to specific deck page</p>
<!-- forEach deck... 
deck name: 
a href to flashcard page -->

<!-- table
col: cards due
row: #  -->
<table>
  <thead>
    <tr>
      <th>Deck</th>
      <th>Cards Due:</th>
    </tr>
  </thead>
  <tbody>
    <% decks.forEach(function(d) {%>
    <tr>
      <td><a href="decks/<%=d._id%>"><%= d %></a></td>
      <td>#</td>
    </tr>
    <% }); %>
  </tbody>
</table>
