<p>This is the summary page</p>

<p>OAUTH: will have a link to user settings and logout in nav bar</p>

<p>
  POST: will have button to create new deck or to render index page of database
</p>

<p>RENDER: will render view of decks which links to specific deck page</p>
