<%- include("../partials/head.ejs") %>

<p>This is the summary page</p>

<p>OAUTH: will have a link to user settings and logout in nav bar</p>

<p>
  POST: will have button to create new deck or to link index page of database
</p>
<button>Create Deck</button>
<a href="/index">Database</a>

<p>RENDER: will render view of decks which links to specific deck page</p>
