<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/decks/<%=deckID%>"
          ><span class="material-symbols-outlined"> arrow_back_ios </span></a
        >
        <h1>New Card</h1>

        <a href="/"><span class="material-symbols-outlined"> logout </span></a>
      </nav>
    </header>
    <h2 class="deck-name">Deck Name</h2>
    <div class="form-container">
      <form action="/decks/<%=deckID%>" method="POST">
        <div>
          <label>Front</label>
          <input type="text" name="front" />
        </div>
        <div>
          <label>Back</label>
          <input type="text" name="back" />
        </div>
        <!-- <div>
          <label>Tags</label>
          <input type="text" name="tags" />
        </div> -->

        <button type="submit">Submit</button>
      </form>
    </div>

  </body>
</html>
