<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/stylesheets/flashcards.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/summary"
          ><span class="material-symbols-outlined"> arrow_back_ios </span>
        </a>
        <h1>Title of Deck</h1>
        <span class="material-symbols-outlined"> logout </span>
      </nav>
    </header>
    <div class="show-container">
      <!-- takes first card in queue -->
      <div class="front-container">
        Question: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Excepturi laboriosam debitis harum similique voluptate dolores autem
        eveniet quas rerum veritatis tenetur iure nobis, non consequuntur sequi
        provident sit quod praesentium.
      </div>
      <!-- back container display set to none -->
      <div class="back-container">
        Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
        unde fuga saepe possimus repellendus earum iure eos nobis ullam,
        necessitatibus totam. Eveniet autem non temporibus labore soluta nam
        natus perferendis?
      </div>
      <div class="options-container">
        <div class="tags"></div>
        <!-- onclick, sets post-reveal display to flex and reveal to none -->
        <div class="reveal"><button>Show Answer</button></div>
        <div class="post-reveal">
          <!-- onclick should trigger function to resort card in queue -->
          <div class="again"><button type="submit">Again</button></div>
          <div class="hard"><button type="submit">Hard</button></div>
          <div class="good"><button type="submit">Good</button></div>
          <div class="easy"><button type="submit">Easy</button></div>
        </div>
        <div class="edit"><button type="submit">Edit</button></div>
      </div>
    </div>
  </body>
</html>
