THIS PAGE WILL SHOW NEXT FLASHCARD IN QUEUE

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/flashcards.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="show-container">
      <!-- takes first card in queue -->
      <div class="front-container">Front text</div>
      <!-- back container display set to none -->
      <div class="back-container">Back text</div>
      <div class="options-container">
        <div class="tags"></div>
        <!-- onclick, sets post-reveal display to flex and reveal to none -->
        <div class="reveal"><button>Show Answer</button></div>
        <div class="post-reveal">
            <form action="">

                <!-- onclick should trigger function to resort card in queue -->
                <div class="again"><button type="submit">Again</button></div>
                <div class="hard"><button type="submit">Hard</button></div>
                <div class="good"><button type="submit">Good</button></div>
                <div class="easy"><button type="submit">Easy</button></div>
            </form>
        </div>
        <div class="edit"><button type="submit">Edit</button></div>
      </div>
    </div>
  </body>
</html>
