<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/decks-index.css" />
    <title>Document</title>
  </head>
  <header>
    <nav>Placeholder</nav>
  </header>
  <p>
    INDEX PAGE/DATABASE RENDER: This page will render the index page that
    populates all the decks and flashcards ASK ABOUT EVENT LISTENERS/SEE
    MONGOOSE DOCS: it will have a sidebar to filter what flashcards to show
  </p>
  <body>
    <!-- nav bar here -->

    <!-- side bar here -->
    <div class="sidebar">
      <ul>
        <li>Decks</li>
        <ul>
          <!-- decks.forEach... -->
          <li>Deck 1</li>
        </ul>
        <li>Due</li>
        <li>Pending</li>
        <li>Tags</li>
        <ul>
          <!-- flashcards.forEach... -->
          <li>(tag names)</li>
        </ul>
      </ul>
    </div>

    <!-- display here -->
    <div class="display-container">
      <!-- display 
        flashcards.forEach...-->
      <table>
        <thead>
          <tr>
            <th>Flashcard</th>
            <th>Due</th>
            <th>Deck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>(front card text up to 100char or so</th>
            <th>(Date)</th>
            <th>(Deck name)</th>
          </tr>
        </tbody>
      </table>

      <!-- preview -->
      <!-- preview flashcard selected in display view-->
      <div class="preview-container">
        <section>
          <strong> Preview </strong>
          <div class="front">
            <div class="fc-header"><strong>Front</strong></div>
            <div>(front text)</div>
          </div>
          <div class="back">
            <div class="fc-header"><strong> Back </strong></div>
            <div>(back text)</div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
