<%- include("../partials/head.ejs") %>

INDEX PAGE/DATABASE 

RENDER: This page will render the index page that populates all the decks and flashcards

ASK ABOUT EVENT LISTENERS/SEE MONGOOSE DOCS: it will have a sidebar to filter what flashcards to show

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <!-- side bar -->

    <!-- display -->
    
</body>
</html>