<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/stylesheets/summary.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/summary"
          ><span class="material-symbols-outlined"> arrow_back_ios </span
          ><span class="material-symbols-outlined"> empty_dashboard </span></a
        >
        <h1><%=deck.name%></h1>
        <span class="material-symbols-outlined"> logout </span>
      </nav>
    </header>
    <div class="display-container">
      <a href="/decks/<%=deck%>/flashcards/new"><button class="show-deck-btns">Add Card to Deck</button></a>
      <table>
        <thead>
          <tr>
            <th>Cards Due:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#</td>
          </tr>
        </tbody>
      </table>
      <a href="/decks/<%=deckID%>/flashcards/"><button class="show-deck-btns">Study Now</button></a>
    </div>
  </body>
</html>
