THIS PAGE WILL RENDER SHOW PAGE FOR A SELECTED DECK

<!-- title: Deck Name 
cards due: -->
<a href="/decks/<%=deck%>/flashcards/new"><button>Add Card to Deck</button></a>

<p>this button should redirect to new-card.ejs</p>
<table>
  <thead>
    <tr>
      <th>Cards Due:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#</td>
    </tr>
  </tbody>
</table>
<button>Study Now</button>
<p>Study now should direct to flashcards show-card.ejs</p>
